<form [formGroup]="questionData">
  <div class="p-fluid">
    <div class="p-field">
      <label for="">Question</label>
      <textarea formControlName="question" id="question" type="text" rows="4" pInputTextarea></textarea>
      <p *ngIf="questionData.get('question').hasError('required') && questionData.get('question').touched ">This field is required</p>
      <p *ngIf="questionData.get('question').hasError('maxLength') && questionData.get('question').touched ">Length should be maximum 255 char</p>
    </div>
    <div class="p-field">
      <label for="">Age</label>
      <p-dropdown inputId="state" (onChange)="typeChanged()" [options]="questionType" formControlName="questionType" placeholder="Select"
                  optionLabel="name"></p-dropdown>
      <p *ngIf="questionData.get('questionType').hasError('required') && questionData.get('questionType').touched ">This field is required</p>
    </div>
    <div *ngIf="variations">
      <p-button icon="pi pi-plus" (click)="addVariations()" ></p-button>
      <div
        formArrayName="items"
        *ngFor="let item of questionData.get('items')['controls']; let i = index;"
      >
        <div [formGroupName]="i">
          <input pInputText formControlName="variation">
        </div>
      </div>
    </div>
    <div class="p-field" style="width: 20%; padding: 20px 0;">

      <p-button label="Submit" icon="{{icon}}" (click)="save()" ></p-button>
    </div>

  </div>
</form>


