<div class="half-page">
  <div class="half">
    <div *ngIf="answeredQuestion">
      <p-card [style]="{'width': '25rem', 'margin-bottom': '2em'}" *ngFor="let answered of answeredQuestion; let i = index">
        <p>{{answered.question}}</p>
        <p>{{answered.questionType}}</p>
        <p>{{answered.createdDate | date}}</p>
        <div *ngFor="let answers of answered['answers']">
          <p class="answer">{{answers.answer}}</p>
        </div>
      </p-card>
    </div>
  </div>
  <div class="line-wrap">
    <div class="line"></div>
  </div>
  <div class="half">
    <form [formGroup]="answerData">
      <div *ngIf="notAnsweredQuestion" >
      <div

        *ngFor="let notAnswered of notAnsweredQuestion; let i = index"
      >
        <p-card [style]="{'width': '25rem', 'margin-bottom': '2em'}" >
          <p>{{notAnswered.question}}</p>
          <p>{{notAnswered.questionType}}</p>
          <p>{{notAnswered.createdDate | date}}</p>
        </p-card>
        <div  formArrayName="open" class="answerOpen" *ngIf="notAnswered.questionType === 'Open'">
          <div [formGroupName]="i">
            <textarea formControlName="open" pInputTextarea ></textarea>
          </div>
          <p-button label="send"  (click)="correctOpenData(i)"></p-button>
        </div>
        <div class="" *ngIf="notAnswered.questionType === 'SingleSelect'">
          <div *ngFor=" let in of notAnswered.items; let ind = index">
            <div  formArrayName="singleSelect" >
              <div [formGroupName]="ind">
                <p-radioButton value="{{i}}_{{ind}}" formControlName="singleSelect" label="{{in.variation}}"></p-radioButton>
              </div>

            </div>

          </div>
          <p-button label="send"  (click)="correctSingleData(i)"></p-button>
        </div>
        <div class="answerMulti" *ngIf="notAnswered.questionType === 'MultiSelect'">
          <div *ngFor=" let in of notAnswered.items; let ind = index">
            <div  formArrayName="multiSelect">
              <div [formGroupName]="ind">
                <p-checkbox formControlName="multiSelect" value="{{i}}_{{ind}}" label="{{in.variation}}"></p-checkbox>
              </div>
            </div>
          </div>
          <p-button label="send"  (click)="correctMultipleData(i)"></p-button>
        </div>
      </div>

    </div>
    </form>
  </div>
</div>
