.half-page{
  display: flex;
  width: 100%;
  justify-content: center;
  .half{
    display:flex;
    width: 49%;
    flex: 1 0 49%;
    justify-content: center;
  }
  .line-wrap{
    width: 2%;
    flex: 1 0 2%;

    display:flex;
    justify-content: center;
    .line{
      width: 1px;
      height: 100%;
      background: #000;
    }
  }
}
