<div *ngIf="questionData && questionData.length>0">
  <p-table [value]="questionData" dataKey="id" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="question">Question <p-sortIcon field="question"></p-sortIcon></th>
        <th pSortableColumn="questionType">Question type<p-sortIcon field="questionType"></p-sortIcon></th>
        <th pSortableColumn="createdDate">date <p-sortIcon field="createdDate"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="rowData">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.question">
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.question}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="questionType" [(ngModel)]="rowData.questionType" [style]="{'width':'100%'}"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.questionType}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          {{rowData.createdDate | date}}

        </td>
        <td style="text-align:center">
          <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                  class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
          <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                  class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
          <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                  class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
          <button (click)="deleteItemConfirmation( rowData.id )" style="margin-left: .5em"
                  pButton type="button" icon="pi pi-trash" class="ui-button-danger"></button>

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div *ngIf="!questionData || questionData.length<1">
  <p class="no-match">No matching Questions</p>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
